body {
    font-family: Arial, sans-serif;
    background-color: rgb(197, 229, 240);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#formulario{
    background-color: white;
    padding: 1.5%;
    border-radius: 3%;
}
#calcular_area{
    background-color: rgb(69, 202, 255);
    border: 0;
    width: 100%;
}